.button {
    font-size: 16px;

    color: #f5f5f5;
    background-color: var(--light-blue);

    padding: 8px 16px;
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--hover-blue);
}