.ButtonLink {
  background-color: var(--color-light-blue);

  padding: 8px 0;
  border-radius: 8px;

  transition: var(--transition-default);
  cursor: pointer;
}

.ButtonLink:hover {
  background-color: var(--color-hover-blue);
}

.ButtonLink-Link {
  text-decoration: none;

  color: var(--color-whitish);

  padding: 8px 16px;
}
