.FileLine {
  width: 100%;
  padding: 3px 10px;
  border-radius: 10px;

  transition: background-color 0.1s ease-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.FileLine:hover {
  background-color: var(--color-gray);
}

.FileLine:hover .FileLine-Button,
.FileLine:hover .FileLine-Download {
  background-color: transparent;
}

.FileLine-Photo {
  width: 40px;
  height: 40px;
}

.FileLine-Pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FileLine-Preview {
  flex: 1;
  font-size: 20px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 10px;
}

.FileLine-Icon {
  filter: invert(7%) sepia(7%) saturate(608%) hue-rotate(22deg) brightness(96%) contrast(87%);
}

.FileLine-Info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.FileLine-Meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FileLine-Date {
  width: 100px;

  display: flex;
  justify-content: flex-end;
}

.FileLine-Time {
  width: 55px;

  display: flex;
  justify-content: flex-end;
}

.FileLine-Size {
  width: 100px;

  display: flex;
  justify-content: flex-end;
}

.FileLine-Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FileLine-Download,
.FileLine-Button {
  transition: transform var(--transition-default);

  background-color: transparent;

  width: 25px;
  height: 25px;
}

.FileLine-Button:hover {
  transform: scale(1.15, 1.15);
}

.FileLine-Button {
  border: none;
}

@media screen and (max-width: 905px) {
  .FileLine-Info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .FileLine-Meta {
    font-size: 14px;
  }
}

@media screen and (max-width: 505px) {
  .FileLine {
    flex-direction: column;
  }

  .FileLine-Buttons {
    width: 100%;
    justify-content: space-between;
  }
}
