.header {
    position: sticky;
    top: 0;

    background-color: var(--background-color);

    width: 100%;
    min-height: 64px;
    padding: 0 30px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: var(--default-transition);
}

.border {
    border: 1px solid var(--border-color);
}

.naming {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--font-color);
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.log-out {
    color: #f5f5f5;
    background-color: transparent;
    font-size: 16px;
    border: none;
}

.log-out:hover {
    color: #e2e2e2;
    background-color: transparent;
}