.HomePage {
  display: flex;
  flex-direction: column;
}

.HomePage-MainArticle {
  color: var(--color-whitish);
  background-image: url("./world.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 350px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-align: center;
}

.HomePage-MainHeading {
  font-size: 28px;
}

.HomePage-MainParagraph {
  font-size: 18px;
}

.HomePage-MainHeading,
.HomePage-MainParagraph {
  background-color: #16161652;
}

.HomePage-SectionsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .HomePage-MainHeading {
    font-size: 24px;
  }

  .HomePage-MainParagraph {
    font-size: 14px;
  }
}
